.pagestyle{
    width:100%;
    padding:15px;
}
.pageheader{
    font-size: 22px;
    font-weight: 650;
    height:7.5%;
}
.dashoverview{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dashoverviewrow{
    display: flex;
    flex-direction: row;
}
.dashoverviewitem{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin:10px;
    background-color: #f7f9f9;
    border-radius: 5px;
}
.dashoverviewitemlabel{
    font-size: 16px;
    font-weight: 500;
}
.dashoverviewitemvalue{
    padding: 10px 0px 0px 0px;
    font-size: 24px;
    font-weight: 600;
}