.expenses{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
}
.pagestyle{
    width:100%;
    padding:15px;
}
.pageheader{
    font-size: 22px;
    font-weight: 650;
    height:7.45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}
.expensesbody{
    display: flex;
    width:100%;
    height:100%;
    flex-direction: column;
}
.expensesdata{
    flex:12;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/*.expensesfilter{
    height:10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}*/
.recentexpenses{
    flex:7; 
    max-height: 90%;
    overflow-y: scroll;
    box-shadow: 2px 2px 8px 0 #0000003d;
}
.addexpense{
    flex:5;
    height: 100%;
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    box-shadow: 2px 2px 8px 0 #0000003d;
}
.expenseform{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
}
.expenseformlabel{
    margin:15px 10px 5px 0px ;
}
.expenseforminpfield{
    height: 30px;
    border:1px solid lightgray;
    border-radius: 3px;
}
.expensestable{
    
    width:97.5%;
    gap: 2px 2px;
    max-height:70%;
    overflow-y: scroll;
}
.exptableheader{
    width:15%;
    
}
.exptabledata{
    height: 30px;
    text-align: center;
}
.expenseFilters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}   